

/*========MENU=======*/
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.nav  .logo h1{
    font-weight: 600;
    font-family:  sans-serif;
    color: black;
}

.nav .logo b{
     color: #ff511c;

}
 
.nav ul{
    display: flex;
    list-style: none;
}

.nav ul li{
    margin-right: 30px;
}

.nav ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
}

/*==ACTIVE==*/

.nav ul .active::after{
    content: '';
    width: 50%;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left: 10px;
}

/*========RECEIPES=======*/

/*==ACTIVE==*/

.nav ul .active::after{
  content: '';
  width: 50%;
  height: 3px;
  background-color: #ff511c;
  display: flex;
  position: relative;
  margin-left: 10px;
}

 .section{
  padding: 2rem 9%;
 }

 .heading{
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
  color: #666;
 }
 .heading span{
  color: #ff511c;
 }

 .speciality .nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.speciality .nav ul{
  display: flex;
  list-style: none;
}

.speciality .nav ul .active::after{
  content: '';
  width: 50%;
  height: 3px;
  background-color: #ff511c;
  display: flex;
  position: relative;
  margin-left: 10px;
}




.button{
  background-color: darkgray;
  color: black;
  outline: none;
  display: inline-block;
  padding: .9rem 5.7rem;
  border: 2rem solid var(--red) ;
  color: var(--red);
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;

} 

.button::before{
  content: '';
  position: absolute;
  top: 0; right: 0;
  width: 100%;
  height: 100%;
  background: var(--red);
  transition: .3s linear;
  z-index: -1;

}

.button:hover::before{
  width: 100%;
  left: 0;

}

.button:hover{
  color: #fff;

}


.speciality .nav ul li{
  margin-right: 30px;
}

.speciality .nav ul li a{
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-family: sans-serif;
  font-size: 17px;
}


 .speciality .box-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
  gap: 1rem;
  height: 20rem;
  width: 85rem;
  gap: 2rem;
  

 }

 .speciality .box-container .box{
  flex: 1 1 30rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 .5rem .1rem rgba(0,0,0,.1);
  border: .1rem solid rgba(0,0,0,.3);
  cursor: pointer;
  border-radius: .5rem;
 }

 .speciality .box-container .box .image{
height: 100%;
width: 100%;
object-fit: cover;
position: absolute;
top:-100%; left: 0;
 }

 .speciality .box-container .box .content{
  text-align: center;
  background: #fff;
  padding: 2rem;
 }

 .speciality .box-container .box .content img{
  margin: 1.5rem 0;

 }

 .speciality .box-container .box .content img h3{
  font-size: 2.5rem;
  color: #333;

 }
 .speciality .box-container .box .content img p{
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;

 }

 .speciality .box-container .box:hover .image{
top: 0;
 }

 .speciality .box-container .box:hover .content{
  transform: translateY(100%);
 }

 